body {
  font-family: Inter, sans-serif;
  margin-top: 64px;
  margin: 0;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
} 

p, ul, li {
  color: var(--colors-text-primary-900, #27272F);
  font-size: var(--font-size-4xs, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--font-size-xs, 20px); /* 142.857% */
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  align-items: center; 
  font-size: 12px;
  gap: 12px; 
  font-weight: 500;
  line-height: var(--font-size-2xs, 18px);
  margin-bottom: 12px;
}
