body {
  font-family: Inter, sans-serif;
  background: var(--colors-brand-green-50, #F5FBEA);
  margin-top: 64px;
  margin: 0;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
} 

.email-card {
  display: flex;
  flex-direction: column;
  background: var(--brand-UI-white, #FFF);
  max-width: 720px;
  margin: 32px auto;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  padding-bottom: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 32px;
  padding-top: 16px;
}

h1 {
  font-size: 1.25rem;
  color: var(--colors-text-primary-900, #27272F);
  display: flex;
}

h2 {
  font-size: 1.125rem;
  color: var(--colors-text-primary-900, #27272F);
  display: flex;
}

h4 {
  color: var(--colors-text-primary-900, #27272F);
  font-family: var(--font-family-body, Inter);
  font-size: var(--font-size-3xs, 16px);
  font-weight: 600;
  line-height: var(--font-size-sm, 24px); /* 150% */
  margin: 0;

}


p, ul, li {
  color: var(--colors-text-primary-900, #27272F);
  font-size: var(--font-size-4xs, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--font-size-xs, 20px); /* 142.857% */
}

a {
  color: var(--colors-brand-blue-500, #2BB0C8);
}

section {
  display: flex;
  flex-direction: column;

}

.button-primary {
  display: inline-block;
  padding: .625rem 1rem;
  border: 1px solid rgba(33, 35, 39, 0.06);
  background: var(--colors-brand-green-300, #B5DF77);
  color: var(--colors-text-primary-900, #27272F);
  text-decoration: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 1px 2px 0px rgba(31, 33, 37, 0.06);

}

.button:hover {
  background: var(--colors-brand-green-400, #98CF4C);
}

.actions-sm {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}



.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--colors-brand-blue-800, #245666);
  padding: 32px;
}

a.unsubscribe, a.change-preferences {
  text-decoration: none;
}

a.footer {
  color: var(--colors-brand-blue-200, #B3E8EE);
}

.footer-text {
  color: var(--colors-brand-blue-50, #EFFBFC);
  font-size: 12px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  align-items: center; 
  font-size: 12px;
  gap: 12px; 
  font-weight: 500;
  line-height: var(--font-size-2xs, 18px);
  margin-bottom: 12px;
}

.footer-links:hover {
}

strong {
  color: var(--brand-primary-gray-800, #212327);
  font-weight: 600;

}

.header-image {
  display: inline-flex;
  align-items: center;
}



